<div class="container" id = 'home-container'>
  <div class="jumbotron text-center text-white">
    <h1 class="display-4">Alpha-Blog</h1>
    <p class="lead"><strong>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</strong></p>
    <hr class="my-4">
    <p><strong>It uses utility classes for typography and spacing to space content out within the larger container.</strong></p>
    <!-- <a class="btn btn-success btn-lg" href="#" role="button">Learn more</a> -->
    <%= link_to "Sign up", signup_path, class: "btn btn-success btn-lg" %>
  </div>
</div>



<!-- </div>
<p>
  <%= link_to "Article listings", articles_path %>
  <%= link_to "About", about_path %>
</p> -->
